*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #9f8c9f;
    overflow-y: hidden;
}

#neumorphism{
    border-radius: 60px;
    background: linear-gradient(315deg, #867686, #9f8c9f);
    box-shadow:  -27px -27px 54px #5b505b,
    27px 27px 54px #cfb6cf;
    height: 400px;
    width: 450px;
    margin: auto;
    margin-top: 150px;
    padding: 40px;
}

#input{
    display: flex;
    justify-content: center;
    
    margin-top: 30px;
}

#inp{
    width: 200px;
    height: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding-left: 10px;
}

#but{
    width: 90px;
    height: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

#but:hover{
    background-color: rgb(214, 204, 204);
    color: white;
}

#div{
    height: 50px;
    width: 90%;
    margin-top: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

#up{
    display: flex;
    justify-content: space-between;
}

#down{
    display: flex;
    justify-content: space-between;
}

.glassmorphism, .glassmorphism2, .glassmorphism4, .glassmorphism6, .glassmorphism8{
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 50px;
    height: 100px;
    width: 100px;
    z-index: -1000;
    position: relative;
    animation: moveUpLoop 10s linear infinite;
    top: 80px;
}

 @keyframes moveUpLoop {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-1000px);
      }
    }

.glassmorphism1, .glassmorphism3, .glassmorphism5, .glassmorphism7, .glassmorphism9{
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 50px;
    height: 100px;
    width: 100px;
    z-index: -1000;
    position: relative;
    animation: movedownLoop 10s linear infinite;
    top: 300px;
}

#result{
  text-align: center;
  margin-top: 50px;
}

@keyframes movedownLoop {
      0% {
        transform: translateY(-1000px);
      }
      100% {
        transform: translateY(0);
      }
    }
   

@media screen and (max-width: 768px){
  #neumorphism{
    width: 80%;
    height: auto;
  }
  #up{
    gap: 10px;
    width: auto;
  }
  #down{
    gap: 10px;
    width: 100%;
  }
  /* #input{
    flex-wrap: wrap;
  } */
}

@media (min-width: 769px) and (max-width: 1024px){
  #neumorphism{
    width: 80%;
    height: auto;
  }
  #up{
    gap: 10px;
    width: auto;
  }
  #down{
    gap: 10px;
    width: 100%;
  }
  
}
  